/* universal styles */
h1{
  text-align: center;
  margin-top: 30px;
  font-size: 70px;
  color: black;
  background-image: url("./Img/headerBackgroud.png");
  background-position: center;
}

h2{
  font-family: Georgia;
  color: blue;
}

.headShot{
  width: 250px;
}

.table1Row{
  font-weight: bold;
}

.table{
  border-collapse: collapse;
}

td{
  padding: 5px;
}

.table1Row{
  background-color: aqua;
}