/* universal styles */

body{
  display: grid;
}

.grid{
  grid-template: atuo / repeat(6, 1fr);
}

header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  background-color: #333333;
  margin: 0 auto;
  width: 100%;
  z-index: 6;
  display: inline-flex;
  height: 3em;
  align-items: center;
}

header h5{
  padding-left: 0.4em;
}

header nav{
  padding: 2em;
}

header nav span{
  padding: 0.4em;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

#mainPageIntro{
  position: relative;
  top: 1.3em;
  font-size: 18px;
}

h5{
  display: inline-block;
  padding-right: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0 0;
}

h1{
  padding-top: 2em;
  font-size: 50px;
  margin-top: 0ex;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.firstSection{
  background-image: url(./Img/statue-of-liberty-GettyImages-539667859.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.team .container{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: fit-content;
}

.team .container h1{
  grid-area: 1 / 1 / 2 / 4;
}

.aboutUs{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  background-color: #333333;
  margin: 0 auto;
  width: 100%;
}

.secondSection{
  background-image: url(./Img/U.S.\ Passport.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table1Row{
  font-weight: bold;
}

.table{
  border-collapse: collapse;
}

td{
  padding: 5px;
}

.table1Row{
  background-color: aqua;
}

.footerWrapperContainer{
  background-color: #333333;
}

.priceQuote{
  margin-top: auto auto;
}

.formElm{
  margin: 0.5em;
  display: inline-block;
}

.priceQuoteBlocks{
  text-align: left;
}

.footerP{
  color: #fff;
}